body {
    font-family: 'Didact Gothic', sans-serif;
    color: white;

}
.img {
      display: inline-block;
      vertical-align: middle;
      margin-right: -100%;
}

a {
    color: #ff99c7;
}

a:hover {
    color: #f53d3d;
}

.mediafont {
    color:white;
    font-size: 10px;
}

.quiz {
    list-style-type: none;
}

.list-unstyled {
    list-style: none;
}

.tooltip {
    opacity: 1;
    font-size:14px; 
}

.toolpad {
    padding-top: 0px;
}

.early {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: #ffffff; 
    }
    
.early2 {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: #000000; 
}
    
.early:hover { 
    color: #FFD700;
}

.early2:hover {
    color: #FFd700;
}

.slideshow {
  width: 70%;
  min-width: 300px;
  margin: auto;
  padding: 1em 1em 3em;
  padding-top: 50px;
}

.bxslider {
  margin: 0;
  padding: 0;
}

.video-container {
    position: relative;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    padding-left: 30%;
    padding-top: 10px;
}

.sources {
    font-size: 11px;
    color:black;
}

.sources a{
    color:black;
}

/*computer slide positioning*/ 

.slide {
    position:absolute;
}
  
.slide2{
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.8;
    bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 5px;
    padding-right: 5px;
    color:white;
    border-radius: 10px;

}

.slide3 {
    position: absolute;
    bottom: 20px;
    margin-left: 50px;
    margin-right: 300px;
    padding-right: 5px;
    color:white;
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.7;
    border-radius: 10px;
}

.slide4 {
    margin-left: 400px;
    right: 100px;
    position: absolute;
    bottom: 75px;
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.7;
    border-radius: 10px;
}

.slide5 {
    top: 10px;
    margin-left: 50px;
    right: 300px;
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.8;
    border-radius: 10px;
    
}

.slide6 {
    left: 500px;
    top: 24px;
    margin-right:50px;
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.8;
    border-radius: 10px;
    padding-left:5px;
}

.slide7 {
    top: 50px;
    left: 500px;
    margin-right: 50px;
    background-color: #000000;
    border: 1px solid black;
    opacity: .7;
    color: white;
    padding-left: 5px;
    border-radius: 10px;

}

.slide8 {
    top: 175px;
    margin-right: 350px;
    margin-left: 50px;
    padding-left: 5px;
    background-color: #000000;
    border: 1px solid black;
    opacity: .7;
    color: white;
    border-radius: 10px;

}

.quizstyle {
    color:black; 
}

/*media screens*/

@media screen and (max-width: 1000px) {
    
    .slide2 {
    position:static;
    background-color: #FFFFFF;
    color:black;
    border: none;
    margin: 0px 0px 0px 0px;
    font-size:14px;
    }
    
    .early {
        color: black;
    }
    
    .slide5{
        position: static;
        background-color: #FFFFFF;
        color: black;
        border: none;
        margin: 0px 0px 0px 0px;
        font-size: 14px;
    }
    
}

@media screen and (max-width: 970px) {
    
    .slide3{
    position:static;
    background-color: #FFFFFF;
    color:black;
    border: none;
    margin: 0px 0px 0px 0px;
    font-size:14px;
    }
    
    .early {
    color: black;
    }
}

@media screen and (max-width: 1089px) {
    
    .slide4{
        position: static;
        background-color: #FFFFFF;
        color: black;
        border: none;
        margin: 0px 0px 0px 0px;
        font-size: 14px;
    }
    .early {
        color: black;
    }
}

@media screen and (max-width: 1210px) {
    .slide6{
        position: static;
        background-color: #FFFFFF;
        color: black;
        border: none;
        margin: 0px 0px 0px 0px;
        font-size: 14px;
    }
    .early {
        color: black;
    }
}

@media screen and (max-width: 1140px) {
    .slide7{
        position: static;
        background-color: #FFFFFF;
        color: black;
        border: none;
        margin: 0px 0px 0px 0px;
        font-size: 14px;
    }
    .early {
        color: black;
    }
}

@media screen and (max-width: 1170px) {
    .slide8{
        position: static;
        background-color: #FFFFFF;
        color: black;
        border: none;
        margin: 0px 0px 0px 0px;
        font-size: 14px;
    }
    .early {
        color: black;
    }
}