body {
    font-family: 'Didact Gothic', sans-serif;
    color: white;

}
.img {
      display: inline-block;
      vertical-align: middle;
      margin-right: -100%;
}

.mediafont {
    color:white;
    font-size: 10px;
}

.tooltip {
    opacity: 1;
    font-size:14px; 
}

.toolpad {
    padding-top: 0px;
}

.early {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: #ffffff; 
    }
    
.early2 {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: #000000; 
}
    
.early:hover { 
    color: #FFD700;
}

.early2:hover {
    color: #FFd700;
}

.slideshow {
  width: 70%;
  min-width: 300px;
  margin: auto;
  padding: 1em 1em 3em;
}

.bxslider {
  margin: 0;
  padding: 0;
}

.video-container {
    position: relative;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    padding-left: 30%;
    padding-top: 10px;
}

.iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 25%;
    padding-top: 5%;

}

.slide {
    position:absolute;
}
  
.slide2{
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.8;
    max-height: 300px;
    bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 5px;
    padding-right: 5px;
    color:white;
}

.slide3 {
    position: absolute;
    bottom: 20px;
    margin-left: 50px;
    margin-right: 300px;
    padding-right: 5px;
    color:white;
}

.slide4 {
    margin-right:400px;
    margin-left:43px;
}

.slide5 {
    top:175px;
    margin-left: 10px;
    
}

.slide6 {
    left: 500px;
    top: 24px;
}

.slide7 {
top: 5px;
left: 400px;
background-color: #ffffff;
border: 1px solid black;
opacity: .7;
color: black;
padding-left: 5px;
}

.slide8 {
    top: 175px;
    margin-right: 350px;
    margin-left: 50px;
    padding-left: 5px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: .7;
    color: black;
}

.quizstyle {
    color:black; 
}


@media screen and (max-width: 1000px) {
    
    .slide2{
    position:static;
    background-color: #FFFFFF;
    color:black;
    border: none;
    margin: 0px 0px 0px 0px;
    font-size:14px;
    }
    
    .early {
        color: black;
    }
    
    if (documentElement.clientWidth < 1000) {
	$(document).ready(function() {
            $('#tooltip1').tooltipster({
                position: "right",
                offsetX: -400,
                positionTracker: true,
                content: $('<b>disco was a lifestyle</b>')
            });
        });
}

@media screen and (max-width: 1040px) {
    
    .slide3{
    position:static;
    background-color: #FFFFFF;
    color:black;
    border: none;
    margin: 0px 0px 0px 0px;
    font-size:14px;
    }
    
    .early {
    color: black;
    }
}